* {
	scrollbar-3dlight-color:#bfbfbf; /*- 最外左 -*/
	scrollbar-highlight-color:#bfbfbf; /*- 左二 -*/
	scrollbar-face-color:#bfbfbf; /*- 面子 -*/
	scrollbar-arrow-color:#fff; /*- 箭头 -*/
	scrollbar-shadow-color:#bfbfbf; /*- 右二 -*/
	scrollbar-darkshadow-color:#bfbfbf; /*- 右一 -*/
	scrollbar-base-color:#bfbfbf; /*- 基色 -*/
	scrollbar-track-color:#f0f0f0;/*- 滑道 -*/
}
form {
	margin:0;
	padding:0
}
a:link {
	color: #800109;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #800109;
}
a:hover {
	text-decoration: underline;
	color: #800109;
}
a:active {
	text-decoration: none;
	color: #800109;
}
body, td, textarea, div {
	font-size: 12px;
	line-height:180%
}
body {
	margin:0;
	padding:0
}
p {
	padding:0;
	margin:0;
	line-height:180%
}
a {
	cursor:pointer
}
img {
	border:0
}
table {
	border-collapse:collapse
}
p {
	padding:0;
	margin:0
}
ul, li, div {
	padding:0;
	margin:0;
	list-style:none;
}
select, input, textarea {
	border:#e28186 1px solid; background:url(../images/in_bg.jpg) repeat-x top #fff;border-radius:3px; vertical-align:middle;
}
.red{ color:#F00; padding-left:5px}
 